table {
	font-family: sans-serif;
	border: none;
}
tr:nth-child(odd) {
	background-color: #D0D0D0;
}
th {
	padding: 2px 5px 2px 5px;
	font-weight: normal;
	background-color: #A0A0A0;
}
td {
	padding: 2px 5px 2px 5px
}
td input {
	font:inherit;
	width:inherit;
}