{% extends 'base.html' %}

{% block content %}

<table class="id_fuel_table" cellpadding="0" cellspacing="0">
<tr class="id_header">
    <th style="width:130px">{{  loc('Date and time') }}</th>
    <th style="width:100px">{{  loc('Location') }}</th>
    <th style="width:100px">{{  loc('Vendor') }}</th>
    <th style="width:100px;text-align:right;">{{  loc('Volume') }}</th>
    <th style="width:100px;text-align:right;">{{  loc('Price') }}</th>
    <th style="width:100px;text-align:right;">{{  loc('Total') }}</th>
    <th style="width:100px;text-align:right;">{{  loc('Odometer') }}</th>
    <th style="width:100px;text-align:right;">{{  loc('Distance') }}</th>
    <th style="width:100px;text-align:right;">{{  loc('Discharge') }}</th>
    <th style="width:100px">{{  loc('Comment') }}</th>
</tr>
<!-- tr class="id_new_record" onclick="(function(event){event.stopPropagation()})(event)">
	<td class="new_record" style="width:130px"><input type="text" name="new_datetime" class="id_new_datetime"></td>
	<td class="new_record" style="width:100px"><input name="new_location" class="id_new_location"></td>
	<td class="new_record" style="width:100px"><input name="new_vendor"   class="id_new_vendor"></td>
	<td class="new_record" style="width:100px"><input name="new_volume"   class="id_new_volume"></td>
	<td class="new_record" style="width:100px"><input name="new_price"    class="id_new_price"></td>
	<td class="new_record" style="width:100px"><input name="new_total"    class="id_new_total"></td>
	<td class="new_record" style="width:100px"><input name="new_odometer" class="id_new_odometer"></td>
	<td class="new_record" style="width:100px"><input name="new_distance" class="id_new_distance"></td>
	<td class="new_record" style="width:100px"><input name="new_discherge" class="id_new_discharge"></td>
	<td class="new_record" style="width:100px"><input name="new_comment"  class="id_new_comment"></td>
</tr -->
<tbody class="id_fuel_output"></tbody>
</table>
<script type="text/javascript">
	// get_json(url,backref)
	// library function to get json by url and call backref(data)
	function GetJson(url,backref)
	{
		$.ajax({
		    url: url,
		    dataType : 'json',
		    success: function (data) {
	    		backref(data)
		    }
		});
	}

	function FormatNumber(num,dec)
	{
		if (num=='' || num==null)
		{
			return ''
		}
		
		var before,after,digit
		
		if (num>=0)
		{
			digit = ''
		}
		else
		{
			digit = '-'
			num *= -1
		}
		
		pow = Math.pow(10,dec)
		
		numarr = (''+num).split('.')
		before = parseInt(numarr[0])
		if (numarr.length>1)
		{
			after = parseInt( ('.' + numarr[1]) * Math.pow(10,dec) * 10 ) 
		}
		else
		{
			after = 0
		}
			
		if ( after%10 >= 5 ) after = parseInt(after/10)+1
		else			     after = parseInt(after/10)
		if (after>=pow)
		{
			before++
			after-=pow
		}
		
		after = '' + after
		while( after.length<dec ) after = '0' + after
		
		var str_before = ''
		var str
		do 
		{
			str = ('' + before%1000)
			before = parseInt( before/1000 )
			if (before>0)
			{
				while( str.length<3 ) str = '0' + str
			}
			
			if (str_before.length>0)
			{
				str_before = str + ' ' + str_before
			}
			else
			{
				str_before = str
			}
		} while( before>0 )
		
		if (dec==0) return digit + str_before
		return digit + str_before + ',' + after
	}

	function GetFloat(num)
	{
		return parseFloat( (''+num).replace(',','.') )
	}
	
	// compute_table(data)
	// prepare data to table, comute distance and discharge
	function compute_table(data)
	{
		data[data.length-1]['Distance'] = ''
		data[data.length-1]['Discharge'] = ''
		for (var i=data.length-2; i>=0; i--)
		{
			data[i]['Distance'] = data[i]['Odometer'] - data[i+1]['Odometer']
		
			switch ( data[i]['Comment'] )
			{
				case 2:
					var volume   = GetFloat(data[i]['Volume'])
					var distance = GetFloat(data[i]['Distance'])
					var discharge = volume / distance * 100.0
					data[i]['Discharge'] = discharge
					break;
				default:
					data[i]['Discharge'] = ''
			}
		}
		
		for (var i=0; i<data.length; i++)
		{
			data[i]['Volume']    = FormatNumber(GetFloat(data[i]['Volume']),2)
			data[i]['Price']     = FormatNumber(GetFloat(data[i]['Price']),2)
			data[i]['Total']     = FormatNumber(GetFloat(data[i]['Total']),2)
			data[i]['Odometer']  = FormatNumber(data[i]['Odometer'],0)
			data[i]['Distance']  = FormatNumber(data[i]['Distance'],0)
			data[i]['Discharge'] = FormatNumber(data[i]['Discharge'],2)
			
			switch( data[i]['Comment'] )
			{
				case 0:
					data[i]['Comment'] = '{{-loc('clear')-}}'
					break
				case 1:
					data[i]['Comment'] = '{{-loc('non-full')-}}'
					break
				case 2:
					data[i]['Comment'] = '{{-loc('full')-}}'
					break
				default:
					data[i]['Comment'] = ''
			}
		}
	}
	
	// ShowTable(table,columns,data)
	// Function to show table
	// @param array table   - table description
	// @param array columns - columns description
	// @param array data    - data
	function ShowTable(table,columns,data)
	{
		var html=''
		
		html += '<tr>\n'
		for(var key in columns)
		{
			html += '	<th style="' + columns[key]['style'] + '">' + columns[key]['title'] + '</th>\n'
		}
		html += '</tr>\n'

		for(var i=0; i<data.length; i++)
		{
			html += '<tr>\n'
			for(var key in columns)
			{
				html += '	<td style="' + columns[key]['style'] + '">' + data[i][ columns[key]['data'] ] + '</td>\n'
			}
			html += '</tr>\n'
		}
		
		$(table['id']).html(html)
	}
	
	// fill_fuel_table(data)
	// backref function to show json's data
	function fill_fuel_table(data)
	{
		compute_table(data)
		
		var table = {
			'id' : '.id_fuel_table'
		}
		
		var columns = [
			{ 'title' : '{{- loc('Date and time') -}}', 'data' : 'Date and time', 'style' : 'text-align:right;width:130px;'  }, 
			{ 'title' : '{{- loc('Location') -}}',		'data' : 'Location',	  'style' : 'text-align:center;width:130px;' },
			{ 'title' : '{{- loc('Vendor') -}}', 		'data' : 'Vendor', 		  'style' : 'text-align:center;width:100px;' }, 
			{ 'title' : '{{- loc('Volume') -}}', 		'data' : 'Volume', 		  'style' : 'text-align:right;width:100px;'  }, 
			{ 'title' : '{{- loc('Price') -}}', 		'data' : 'Price', 		  'style' : 'text-align:right;width:100px;'  }, 
			{ 'title' : '{{- loc('Total') -}}', 		'data' : 'Total', 		  'style' : 'text-align:right;width:100px;'  }, 
			{ 'title' : '{{- loc('Odometer') -}}', 		'data' : 'Odometer', 	  'style' : 'text-align:right;width:100px;'  }, 
			{ 'title' : '{{- loc('Distance') -}}', 		'data' : 'Distance', 	  'style' : 'text-align:right;width:100px;'  }, 
			{ 'title' : '{{- loc('Discharge') -}}', 	'data' : 'Discharge', 	  'style' : 'text-align:right;width:100px;'  }, 
			{ 'title' : '{{- loc('Comment') -}}', 		'data' : 'Comment', 	  'style' : 'text-align:left;width:100px;'   } 
		]
		ShowTable(table,columns,data)
		
		/*
		var html=''
		for (line in data)
		{
			html += '<tr>\n'
			html += '    <td style="text-align:right">'  + data[line]['Date and time'] + '</td>\n'
			html += '    <td style="text-align:center">' + data[line]['Location'] + '</td>\n'
			html += '    <td style="text-align:center">' + data[line]['Vendor']   + '</td>\n'
			html += '    <td style="text-align:right">'  + data[line]['Volume']   + '</td>\n'
			html += '    <td style="text-align:right">'  + data[line]['Price']    + '</td>\n'
			html += '    <td style="text-align:right">'  + data[line]['Total']    + '</td>\n'
			html += '    <td style="text-align:right">'  + data[line]['Odometer'] + '</td>\n'
			html += '    <td style="text-align:right">'  + '</td>\n'
			html += '    <td style="text-align:right">'  + '</td>\n'
			html += '    <td style="text-align:left">'   + data[line]['Comment']  + '</td>\n'
			html += '</tr>\n'
		}
		$('.id_fuel_output').html(html)
		*/
	}
	
	/**
	* edit_new_record()
	* creates dialog to enter new data
	
	function edit_new_record(event)
	{
		event.stopPropagation()
		$(".new_record").css("display","block")
	}
	
	/**
	* close_new_record()
	* close dialog with entered data, write it to server
	
	function close_new_record()
	{
		$(".new_record").css("display","none")
	}
	*/
	
	$(document).ready(function(){
		//$(".new_record").css("display","none")
		//$(".new_record").css("height","40px")
		GetJson('/auto/json/fuel',fill_fuel_table)
		//$(".id_header").click(edit_new_record)
		//$(document).click(close_new_record)
	})
</script>
{% endblock %}
