<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"> 
	<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
</head>
<body style="width:100%; height:100%;">

<style>
	div.base_menu {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 120px;
		height: 50px;
		background-color: #BFF5CE;
		opacity: 0;
		overflow: hidden;
	}
	div.base_menu a {
		color: #000000;
		text-decoration: none;
		font-family: sans-serif;
		font-size: 24px;
		padding-left: 5px; 
	}
</style>
<div class="base_menu">
	<div style="font-size: 45px;" onclick="base_menu_toggle()">(АБ)</div>
	<div class="base_menu_elements"></div>
</div>
<script>
	var base_menu_visible=false
	function base_menu_toggle()
	{
		var menu = { '{{- loc('Fuel') -}}' : '/auto/fuel',
					 '{{- loc('Parts') -}}' : '#',
					 '{{- loc('Works') -}}' : '#',
					 '{{- loc('Plans') -}}' : '#',
					 '{{- loc('Report') -}}' : '#' }
		if (!base_menu_visible)
		{
			var script = document.documentURI.substr(document.origin.length)
			
			var html=''
			if (script.substr(-4)=='.new')
			{
				html = '<a href="' + script + '" style="background-color:#CCCCCC">' + {{- loc('New') -}} + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br/>\n'
			}
			else
			{
				html = '<a href="' + script + '.new">{{- loc('New') -}}</a><br/>\n'
			}
			
			var style=''
			var height=1
			for( var key in menu )
			{
				if (menu[key]==script)
				{
					style = 'style="background-color:#CCCCCC"'
				}
				else
				{
					style = ''	
				}
				html += '<a href="' + menu[key] + '"' + style + '>' + key + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br/>\n'
				height++				
			}
			$('.base_menu_elements').html(html)
			height = (height*28 + 55)+'px'
			
			$('.base_menu').animate({ height: height,
									  opacity: 1 }, 'slow')
			base_menu_visible=true
		}
		else
		{
			$('.base_menu').animate({ height: '50px',
				  					  opacity: 0 }, 'slow')
			base_menu_visible=false
		}
	}
</script>

{% block content %}{% endblock %}
{% block script %}{% endblock %}

</body>
</html>