<html>
<head>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
    	/**
    	* print_r(arr)
    	* function to show compex data
    	* @return: html-formated data
    	*/
    	function print_r(arr, level) {
        	var result = ""
        	if(!level) level = 0
        	var padding = ""
        	for(var j=0; j<level+1; j++) padding += "&nbsp;&nbsp;&nbsp;&nbsp;"
        	if(typeof(arr) == 'object') {
            	for(var item in arr) 
            	{
                	var value = arr[item]
                	if(typeof(value) == 'object') 
                	{
                    	result += padding + "'" + item + "' :<br>\n"
                    	result += print_r(value,level+1)
    				} 
                	else
                	{
                    	result += padding + "'" + item + "' => \"" + value + "\"<br>\n"
                	}
            	}
        	} 
	        else
	        {
	        	result = "===>"+arr+"<===("+typeof(arr)+")"
	        }
    	    return result
    	}
    
    	$(document).ready(function(){
    		$.ajax({
    		    url: '{{url}}',
    		    dataType : 'json',
    		    success: function (data) {
    	    		$('#json_result').html(print_r(data))
    		    }
    		});
    	})
    </script>
</head>
<body>
	<div id="json_result"></div>
</body>
</html>
